<div class="ui feed">
  <div class="event">
    <div class="label">
      <img src="<%%>">
    </div>

    <div class="content">
      <div class="summary">
        You added <a>Jenny Hess</a> to your <a>coworker</a> group.
        <div class="date">
          3 days ago
        </div>
      </div>
    </div>
  </div>
</div>
