<div class="ui feed">
  <% @logs.each do |log| %>
    <% case log.log_type %>
    <% when 'reservation' %>
      <%= render 'partials/events/reservation',
          avatar_url: log.user.avatar.url,
          created_at: log.created_at,
          book: log.logable.book
      %>
    <% when 'approval' %>
      <%= render 'partials/events/approval',
          avatar_url: log.user.avatar.url,
          created_at: log.created_at,
          book: log.logable.book,
          approver_name: log.user.first_name
      %>
    <% end %>
  <% end %>
</div>
