<h2 class="ui header">Edit Publisher</h2>

<div class="ui form">
  <%= form_for @publisher, url: admin_publisher_path do |f| %>
    <div class="field">
      <label>Name</label>
      <%= f.text_field :name, required: true, placeholder: 'Name' %>
    </div>

    <%= link_to 'Cancel', admin_publishers_path, class: 'ui right floated submit button' %>
    <%= f.submit 'Submit', class: 'ui right floated green button' %>
  <% end %>
</div>
