.no-margin {
    margin: 0 !important;
}

.top-margin-1 {
  margin-top: 1rem !important;
}

.left-margin-1 {
  margin-left: 1rem !important;
}

.left-margin-7 {
  margin-left: 7rem !important;
}

.bottom-margin-1 {
  margin-bottom: 1rem !important;
}

.no-padding {
    padding: 0 !important;
}

.padding-2 {
  padding: 2rem !important;
}

.blue-font {
  color: #4286f4 !important;
}

.black-font {
  color: rgba(0, 0, 0, 1);
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
